@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Langs kysten</title>
    
    <link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/materialize/css/materialize.min.css")"  media="screen,projection"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/MarkerCluster.Default.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/MarkerCluster.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    

</head>
    
    
    
    
    <body>
        @content
    </body>
</html>
